.bundle/
log/*.log
pkg/
Gemfile.lock
/spec/dummy/config/alchemy
/spec/dummy/config/initializers/devise.rb
/spec/dummy/db
/spec/dummy/log
/spec/dummy/tmp
/spec/dummy/vendor
/.vscode
/spec/dummy/public/pictures
/spec/dummy/uploads
/coverage
.ruby-version
