name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  RSpec:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        alchemy_branch:
          - 8.0-stable
          - main
        ruby-version:
          - "3.2"
          - "3.3"
          - "3.4"
    env:
      ALCHEMY_BRANCH: ${{ matrix.alchemy_branch }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Run tests
        run: bundle exec rake
